In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
import pandas as pd

df = pd.read_csv("../dataset/taco_sales_2024-2025.csv")

In [3]:
df

,Order ID,Restaurant Name,Location,Order Time,Delivery Time,Delivery Duration (min),Taco Size,Taco Type,Toppings Count,Distance (km),Price ($),Tip ($),Weekend Order
0,770487,El Taco Loco,New York,01-08-2024 14:55,01-08-2024 15:36,41,Regular,Chicken Taco,5,3.01,9.25,2.22,False
1,671858,El Taco Loco,San Antonio,23-11-2024 17:11,23-11-2024 17:25,14,Regular,Beef Taco,1,6.20,4.25,3.01,True
2,688508,Taco Haven,Austin,21-11-2024 20:24,21-11-2024 21:02,38,Large,Pork Taco,2,20.33,7.00,0.02,False
3,944962,Spicy Taco House,Dallas,21-09-2024 06:43,21-09-2024 07:28,45,Regular,Chicken Taco,2,3.00,5.50,1.90,True
4,476417,Casa del Taco,San Antonio,24-07-2024 11:01,24-07-2024 11:16,15,Large,Pork Taco,0,24.34,4.50,1.14,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,164891,La Vida Taco,Austin,27-05-2024 11:12,27-05-2024 12:11,59,Large,Veggie Taco,2,20.04,7.00,2.80,False
996,232442,The Taco Stand,San Antonio,03-04-2025 20:51,03-04-2025 21:29,38,Regular,Fish Taco,0,13.69,3.00,1.38,False
997,251729,Urban Tacos,Houston,23-01-2025 05:33,23-01-2025 06:41,68,Regular,Pork Taco,2,4.07,5.50,2.00,False
998,940215,Taco Fiesta,San Antonio,05-09-2024 15:49,05-09-2024 16:38,49,Regular,Veggie Taco,5,14.56,9.25,1.89,False
999,326183,Grande Tacos,Phoenix,19-10-2024 14:21,19-10-2024 14:38,17,Large,Chicken Taco,5,5.66,10.75,3.66,True

In [4]:
df['Order Time'] = pd.to_datetime(df['Order Time'], format="%d-%m-%Y %H:%M")
df['Order Day'] = df['Order Time'].dt.day

In [5]:
df

,Order ID,Restaurant Name,Location,Order Time,Delivery Time,Delivery Duration (min),Taco Size,Taco Type,Toppings Count,Distance (km),Price ($),Tip ($),Weekend Order,Order Day
0,770487,El Taco Loco,New York,2024-08-01 14:55:00,01-08-2024 15:36,41,Regular,Chicken Taco,5,3.01,9.25,2.22,False,1
1,671858,El Taco Loco,San Antonio,2024-11-23 17:11:00,23-11-2024 17:25,14,Regular,Beef Taco,1,6.20,4.25,3.01,True,23
2,688508,Taco Haven,Austin,2024-11-21 20:24:00,21-11-2024 21:02,38,Large,Pork Taco,2,20.33,7.00,0.02,False,21
3,944962,Spicy Taco House,Dallas,2024-09-21 06:43:00,21-09-2024 07:28,45,Regular,Chicken Taco,2,3.00,5.50,1.90,True,21
4,476417,Casa del Taco,San Antonio,2024-07-24 11:01:00,24-07-2024 11:16,15,Large,Pork Taco,0,24.34,4.50,1.14,False,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,164891,La Vida Taco,Austin,2024-05-27 11:12:00,27-05-2024 12:11,59,Large,Veggie Taco,2,20.04,7.00,2.80,False,27
996,232442,The Taco Stand,San Antonio,2025-04-03 20:51:00,03-04-2025 21:29,38,Regular,Fish Taco,0,13.69,3.00,1.38,False,3
997,251729,Urban Tacos,Houston,2025-01-23 05:33:00,23-01-2025 06:41,68,Regular,Pork Taco,2,4.07,5.50,2.00,False,23
998,940215,Taco Fiesta,San Antonio,2024-09-05 15:49:00,05-09-2024 16:38,49,Regular,Veggie Taco,5,14.56,9.25,1.89,False,5
999,326183,Grande Tacos,Phoenix,2024-10-19 14:21:00,19-10-2024 14:38,17,Large,Chicken Taco,5,5.66,10.75,3.66,True,19

In [6]:
df['Order Hour'] = df['Order Time'].dt.hour
df['Order Minute'] = df['Order Time'].dt.minute

In [7]:
df

,Order ID,Restaurant Name,Location,Order Time,Delivery Time,Delivery Duration (min),Taco Size,Taco Type,Toppings Count,Distance (km),Price ($),Tip ($),Weekend Order,Order Day,Order Hour,Order Minute
0,770487,El Taco Loco,New York,2024-08-01 14:55:00,01-08-2024 15:36,41,Regular,Chicken Taco,5,3.01,9.25,2.22,False,1,14,55
1,671858,El Taco Loco,San Antonio,2024-11-23 17:11:00,23-11-2024 17:25,14,Regular,Beef Taco,1,6.20,4.25,3.01,True,23,17,11
2,688508,Taco Haven,Austin,2024-11-21 20:24:00,21-11-2024 21:02,38,Large,Pork Taco,2,20.33,7.00,0.02,False,21,20,24
3,944962,Spicy Taco House,Dallas,2024-09-21 06:43:00,21-09-2024 07:28,45,Regular,Chicken Taco,2,3.00,5.50,1.90,True,21,6,43
4,476417,Casa del Taco,San Antonio,2024-07-24 11:01:00,24-07-2024 11:16,15,Large,Pork Taco,0,24.34,4.50,1.14,False,24,11,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,164891,La Vida Taco,Austin,2024-05-27 11:12:00,27-05-2024 12:11,59,Large,Veggie Taco,2,20.04,7.00,2.80,False,27,11,12
996,232442,The Taco Stand,San Antonio,2025-04-03 20:51:00,03-04-2025 21:29,38,Regular,Fish Taco,0,13.69,3.00,1.38,False,3,20,51
997,251729,Urban Tacos,Houston,2025-01-23 05:33:00,23-01-2025 06:41,68,Regular,Pork Taco,2,4.07,5.50,2.00,False,23,5,33
998,940215,Taco Fiesta,San Antonio,2024-09-05 15:49:00,05-09-2024 16:38,49,Regular,Veggie Taco,5,14.56,9.25,1.89,False,5,15,49
999,326183,Grande Tacos,Phoenix,2024-10-19 14:21:00,19-10-2024 14:38,17,Large,Chicken Taco,5,5.66,10.75,3.66,True,19,14,21

In [8]:
categorical_cols = ['Restaurant Name', 'Taco Size', 'Taco Type', 'Location', 'Weekend Order',]
df = pd.get_dummies(df, columns=categorical_cols, drop_first=True, dtype=int)

In [9]:
df

,Order ID,Order Time,Delivery Time,Delivery Duration (min),Toppings Count,Distance (km),Price ($),Tip ($),Order Day,Order Hour,...,Location_Chicago,Location_Dallas,Location_Houston,Location_Los Angeles,Location_New York,Location_Phoenix,Location_San Antonio,Location_San Diego,Location_San Jose,Weekend Order_True
0,770487,2024-08-01 14:55:00,01-08-2024 15:36,41,5,3.01,9.25,2.22,1,14,...,0,0,0,0,1,0,0,0,0,0
1,671858,2024-11-23 17:11:00,23-11-2024 17:25,14,1,6.20,4.25,3.01,23,17,...,0,0,0,0,0,0,1,0,0,1
2,688508,2024-11-21 20:24:00,21-11-2024 21:02,38,2,20.33,7.00,0.02,21,20,...,0,0,0,0,0,0,0,0,0,0
3,944962,2024-09-21 06:43:00,21-09-2024 07:28,45,2,3.00,5.50,1.90,21,6,...,0,1,0,0,0,0,0,0,0,1
4,476417,2024-07-24 11:01:00,24-07-2024 11:16,15,0,24.34,4.50,1.14,24,11,...,0,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,164891,2024-05-27 11:12:00,27-05-2024 12:11,59,2,20.04,7.00,2.80,27,11,...,0,0,0,0,0,0,0,0,0,0
996,232442,2025-04-03 20:51:00,03-04-2025 21:29,38,0,13.69,3.00,1.38,3,20,...,0,0,0,0,0,0,1,0,0,0
997,251729,2025-01-23 05:33:00,23-01-2025 06:41,68,2,4.07,5.50,2.00,23,5,...,0,0,1,0,0,0,0,0,0,0
998,940215,2024-09-05 15:49:00,05-09-2024 16:38,49,5,14.56,9.25,1.89,5,15,...,0,0,0,0,0,0,1,0,0,0
999,326183,2024-10-19 14:21:00,19-10-2024 14:38,17,5,5.66,10.75,3.66,19,14,...,0,0,0,0,0,1,0,0,0,1

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Codificar variables categÃ³ricas y extraer la hora del pedido
df_encoded = df.copy()

df_encoded["Order Hour"] = pd.to_datetime(df["Order Time"], format="%d-%m-%Y %H:%M").dt.hour
# Puedes agregar mÃ¡s columnas categÃ³ricas si lo deseas
categorical_cols = []  # Ejemplo: ['Taco Size', 'Taco Type', 'Location']
df_encoded = pd.get_dummies(df_encoded, columns=categorical_cols, drop_first=True)

# features seleccionadas y codificadas
X = df_encoded[['Distance (km)', 'Toppings Count', 'Order Hour', 'Price ($)','Order Hour']]
y = df['Delivery Duration (min)']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LinearRegression()
model.fit(X_train, y_train)

preds = model.predict(X_test)
import numpy as np

print("RMSE:", np.sqrt(mean_squared_error(y_test, preds)))
print("RÂ²:", r2_score(y_test, preds))

RMSE: 22.723237998475472
RÂ²: -0.026758530817581727

<div class="alert alert-block alert-info">
<b>Tip:</b> 
Intentab extraer el numero de la semana y agregarlo como una variable.
</div>